<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627827619444-vflb6drk07qttp7k0ml5kvc7e4j6i7dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627827619444-vflb6drk07qttp7k0ml5kvc7e4j6i7dc</string>
	<key>API_KEY</key>
	<string>AIzaSyDdWdX5BGKuEcrOix6HETxfYmnGB4es0EI</string>
	<key>GCM_SENDER_ID</key>
	<string>627827619444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riku.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-ae91a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-ae91a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627827619444:ios:99500724b59b4ce3c9c321</string>
</dict>
</plist>